.books-id {
    padding: 4em 5em 1em 1em;
}

#coin-name-1 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #053645;
    padding-top: 20px;
}

#_30d {
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #053645;
}

.horizontal-table {
    float: left;
}