.books {
    margin-left: 3em;
    margin-right: 3em;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%; 
    background:#63b365;
    border-radius: 1.5em;
 
}
th {
    text-align: left;
    padding: 8px;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
    
}

table,
td {
    text-align: left;
    padding: 8px;

    
  
}
td{
    border-radius: 2em;

}
tr:nth-child(even) {
    background: #09313e;
    color:#FFFFFF;

}


#coin-name {
    margin-left: 1em;
    position: relative;
    top: -10px;
    font-weight: bold;

}

.main-table-div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0d4a79;
}
.loader{
    margin-top:10em;
}

.animative-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#twenty-four {
    color: #0d4a79;
    font-family: sans-serif;
}

.pt {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 2;
}